<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>Signup</servlet-name>
        <servlet-class>abc.Signup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>abc.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>upload</servlet-name>
        <servlet-class>abc.upload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>image</servlet-name>
        <servlet-class>abc.image</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>details</servlet-name>
        <servlet-class>abc.details</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>bid</servlet-name>
        <servlet-class>abc.bid</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>photo</servlet-name>
        <servlet-class>abc.photo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>photos</servlet-name>
        <servlet-class>abc.photos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>abc.logout</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Signup</servlet-name>
        <url-pattern>/Signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>upload</servlet-name>
        <url-pattern>/upload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>image</servlet-name>
        <url-pattern>/image</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>details</servlet-name>
        <url-pattern>/details</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>bid</servlet-name>
        <url-pattern>/bid</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>photo</servlet-name>
        <url-pattern>/photo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>photos</servlet-name>
        <url-pattern>/photos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
